.player-info-container {
  padding: 15px;
  background-color: #3d3832;
  border-radius: 5px;
  margin: 10px;
}

.player-information {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player-info-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.username-label {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.player-info-label {
  font-size: 14px;
  color: #ffffff;
  margin-left: 10px;
}

.opponent-label {
  font-size: 14px;
  color: #b0b0b0;
} 