.player-info-container {
  padding: 15px;
  background-color: #3d3832;
  border-radius: 5px;
  margin: 10px;
}

.player-info-title {
  margin: 0 0 16px 0;
  font-size: 20px;
  color: #ffffff;
}

.player-information {
  display: flex;
  align-items: center;
}

.player-info-label-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.username-label {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  white-space: nowrap;
}

.player-info-label {
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
}

.opponent-label {
  font-size: 14px;
  color: #b0b0b0;
} 